diagrams/node-red/flows_raspberrypi.json
[{"type":"tab","id":"dd9c1e05.2263e","label":"Crop Circles PWS"},{"id":"1d3c7774.e2c389","type":"mqtt-broker","broker":"test.mosquitto.org","port":"1883","clientid":""},{"id":"18313904.e7cec7","type":"inject","name":"Every 5 seconds","topic":"","payload":"","payloadType":"none","repeat":"5","crontab":"","once":false,"x":122,"y":135,"z":"dd9c1e05.2263e","wires":[["a0c07a42.5f3f88"]]},{"id":"806b393.f7f94c8","type":"mqtt out","name":"MQTT Rain","topic":"00e04c81aaca-rain","qos":"0","retain":"false","broker":"1d3c7774.e2c389","x":603,"y":52,"z":"dd9c1e05.2263e","wires":[]},{"id":"f9fda3e0.06026","type":"debug","name":"","active":false,"console":"false","complete":"false","x":629,"y":132,"z":"dd9c1e05.2263e","wires":[]},{"id":"a0c07a42.5f3f88","type":"exec","command":"/usr/bin/python /opt/sensors/raingauge.py","addpay":true,"append":"","useSpawn":"","name":"Rain Gauge","x":328,"y":65,"z":"dd9c1e05.2263e","wires":[["806b393.f7f94c8","f9fda3e0.06026","d746a183.28b96"],[],[]]},{"id":"d746a183.28b96","type":"json","name":"Parse Rain Gauge","x":499,"y":242,"z":"dd9c1e05.2263e","wires":[["d04d33b2.2fb2d"]]},{"id":"d04d33b2.2fb2d","type":"switch","name":"Is raining","property":"payload.rain","rules":[{"t":"gt","v":"0.1"},{"t":"lte","v":"0.1"}],"checkall":"true","outputs":2,"x":591,"y":437,"z":"dd9c1e05.2263e","wires":[["c140d077.3ebf3","f56072f2.0a9f9"],["c128d397.3ed73"]]},{"id":"c140d077.3ebf3","type":"exec","command":"/usr/bin/mpg123 /opt/sounds/thunder1.mp3","addpay":true,"append":"","useSpawn":"","name":"Thunder FX","x":785,"y":424,"z":"dd9c1e05.2263e","wires":[[],[],[]]},{"id":"c128d397.3ed73","type":"exec","command":"/usr/bin/killall mpg123","addpay":true,"append":"","useSpawn":"","name":"Stop FX","x":781,"y":513,"z":"dd9c1e05.2263e","wires":[[],[],[]]},{"id":"245a2e87.dba5d2","type":"inject","name":"Every 3 seconds","topic":"","payload":"","payloadType":"none","repeat":"3","crontab":"","once":false,"x":111,"y":348,"z":"dd9c1e05.2263e","wires":[["6fd07cbb.902f84","ce028b9e.31fd78"]]},{"id":"6fd07cbb.902f84","type":"exec","command":"/usr/bin/python /opt/sensors/windspeed.py","addpay":true,"append":"","useSpawn":"","name":"Wind Speed","x":321,"y":318,"z":"dd9c1e05.2263e","wires":[["e6a3666f.195c98"],[],[]]},{"id":"f56072f2.0a9f9","type":"debug","name":"","active":false,"console":"false","complete":"false","x":767,"y":238,"z":"dd9c1e05.2263e","wires":[]},{"id":"ce028b9e.31fd78","type":"exec","command":"/usr/bin/python /opt/sensors/windvane.py","addpay":true,"append":"","useSpawn":"","name":"Wind Direction","x":319,"y":437,"z":"dd9c1e05.2263e","wires":[["e6a3666f.195c98"],[],[]]},{"id":"e6a3666f.195c98","type":"mqtt out","name":"MQTT Wind","topic":"00e04c81aaca-wind","qos":"0","retain":"false","broker":"1d3c7774.e2c389","x":629,"y":558,"z":"dd9c1e05.2263e","wires":[]},{"id":"c33fac4d.3cc05","type":"inject","name":"Every 15 seconds","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":128,"y":585,"z":"dd9c1e05.2263e","wires":[["5e85355d.a17acc","30dd9457.cf226c"]]},{"id":"5e85355d.a17acc","type":"exec","command":"/usr/bin/python /opt/sensors/dht22.py","addpay":true,"append":"","useSpawn":"","name":"DHT22","x":367,"y":563,"z":"dd9c1e05.2263e","wires":[["86f7e5c9.790818"],[],[]]},{"id":"30dd9457.cf226c","type":"exec","command":"/usr/bin/python /opt/sensors/bmp180.py","addpay":true,"append":"","useSpawn":"","name":"BMP180","x":365,"y":673,"z":"dd9c1e05.2263e","wires":[["9593a31e.6a6c6"],[],[]]},{"id":"86f7e5c9.790818","type":"mqtt out","name":"MQTT DHT22","topic":"00e04c81aaca-dht22","qos":"0","retain":"false","broker":"1d3c7774.e2c389","x":630,"y":647,"z":"dd9c1e05.2263e","wires":[]},{"id":"9593a31e.6a6c6","type":"mqtt out","name":"MQTT BMP180","topic":"00e04c81aaca-bmp180","qos":"0","retain":"false","broker":"1d3c7774.e2c389","x":649,"y":724,"z":"dd9c1e05.2263e","wires":[]}]